body{
    background-image: url(AddisAbaba.jpg);  
    margin: 0; 
}
#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#clock{
    text-align: center;
    font-weight: bold;
    font-size: 6.5rem;
    font-family: monospace;
    color: rgb(202, 202, 202);
    backdrop-filter: blur(5px);
    width: 100%;
    background-color: hsl(0, 0%, 100%, 0.1);
  
    
}